
<%- include('../partials/header.ejs') %>
<style>
.loadbackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9999;
  display: none; /* add this line */
}
.load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width:100px;
  height:100px;
}
.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}

.load :first-child{background:#19A68C;animation-delay:-1.5s}
.load :nth-child(2){background:#F63D3A;animation-delay:-1s}
.load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.load :last-child{background:#193B48}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}


</style>
    <!-- TOP section -->

    <section class="top-nav">
      <div onclick="slideToggle()" id="top-nav-left">
        <svg
          stroke="currentColor"
          fill="none"
          stroke-width="0"
          viewBox="0 0 24 24"
          height="30"
          width="30"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          ></path>
        </svg>
      </div>
      <div>
        <a id="militarian"	href="/"><img height="50px" src="https://testmoz.com/ugc/2023-04-12/5321b2c1-c99b-453e-8aab-9d2666b5adcc-image.png" alt=""></a>
      </div>
    </section>

    <div id="menulist">
      <a href="index.html">Home</a>
      <a href="login.html">Login</a>
      <a href="registration.html">Signup</a>
      <a href="about.html">About</a>
      <a href="contact.html">Contact</a>
      <a href="termandcondition.html">Terms & conditions</a>
      <a href="policy.html">Policy</a>
    </div>

    


    <br><br>
    <section class="login-container">         
      <img width="200px" style="margin: 0px auto;" src="https://testmoz.com/ugc/2023-04-12/5321b2c1-c99b-453e-8aab-9d2666b5adcc-image.png" alt="">
      <br><br><br>
          <div class="phone-info">
            <div class="login-center">
            <h2 style="color:rgb(23, 127, 245)">লগইন করুন</h2>
          </div>
          <br>
            <h4 class="login-width">আপনার ফোন নাম্বার দিনঃ</h4>
            <form id="login-form" method="post" action="/auth/sendotp">
            
            <input class="login-input login-width" type="text" name="phone" placeholder="017XXXXXXXX" required />
            <button type="submit" class="login-btn">
              Login
              <i class="fa-solid fa-arrow-right"></i>
          
            </button>
              
          </form>
            
         </div>
     
    </section>
<div class="loadbackground">
  <div class="load">
    <hr/><hr/><hr/><hr/>
  </div>
</div>
    
    
    
  </body>

  <script src="./script.js"></script>
  <!-- Jquery Cnd minified -->
  <script
    src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
    crossorigin="anonymous"
  ></script>
</html>

<!-- <script>
  
  const form = document.getElementById('login-form');

form.addEventListener('submit', (event) => {
  event.preventDefault(); // prevent the form from submitting normally
  
  const phone = document.querySelector('input[name="phone"]').value;

  // show the loading background before the AJAX call starts
  $('.loadbackground').fadeIn();

  fetch('/auth/sendotp', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      phone: phone
    })
  })
  .then(response => response.text())
  .then(data => {
    // handle the response data
    console.log(data);
    $('.phone-info').html(data);
  })
  .catch(error => {
    console.error(error);
  })
  .finally(() => {
    // hide the loading background when the AJAX call is finished
    $('.loadbackground').fadeOut();
  });
});


</script> -->


<script>

$(document).ready(function() {
  $('#login-form').submit(function() {
   $('.loadbackground').fadeIn(); // Apply fade-in animation to element with .loadbackground class
    // Code to submit form data and handle response goes here
  });
});

</script>