
<%- include('../partials/header.ejs') %>
    <!-- TOP section -->

    <section class="top-nav">
      <div onclick="slideToggle()" id="top-nav-left">
        <svg
          stroke="currentColor"
          fill="none"
          stroke-width="0"
          viewBox="0 0 24 24"
          height="30"
          width="30"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          ></path>
        </svg>
      </div>
      <div>
        <a id="militarian" href="index.html"><h3>Militarian</h3></a>
      </div>
    </section>

    <div id="menulist">
      <a href="index.html">Home</a>
      <a href="login.html">Login</a>
      <a href="signup.html">Signup</a>
      <a href="about.html">About</a>
      <a href="contact.html">Contact</a>
      <a href="termandcondition.html">Terms & conditions</a>
      <a href="policy.html">Policy</a>
    </div>

    <section class="login-container">
      <img width="200px" style="margin: 0px auto;" src="https://testmoz.com/ugc/2023-04-12/5321b2c1-c99b-453e-8aab-9d2666b5adcc-image.png" alt="">
      <br><br><br>
          <div class="phone-info">
      <div class="login-center">
        <h1>লগইন করুন</h1><br>
        <h2 style="color:rgb(23, 127, 245)">OTP পাঠানো হয়েছে</h2>
      </div>
      <br>
        <h4 class="login-width">SMS এ পাঠানো OTP:</h4>
        <form id="login-form" method="post" action="/auth/login">
        <input type="text" name="phone" hidden value="<%- phoneNumber %>"/>
        <input type="text" class="login-input login-width" name="otp" placeholder="Enter OTP Code" required />
       
         <% if (locals.error_messages) { %>
           <p class="error"><%= locals.error_messages %></p>
         <% } %>
         
        <button class="login-btn" type="submit">
          Login
          <i class="fa-solid fa-arrow-right"></i>
      
        </button>
          
      </form>
    </div>
    </section>
  </body>

  <script src="./script.js"></script>
  <!-- Jquery Cnd minified -->
  <script
    src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
    crossorigin="anonymous"
  ></script>
</html>

