

<%- include('partials/header.ejs') %>

<section class="top-nav">
    <div><h4>Doubts</h4></div>
 <img src="https://th.bing.com/th/id/R.23ca2f3fbf7e19a1e85cd9d556d5ffaf?rik=uoFjTlg8g%2bIkqw&pid=ImgRaw&r=0" id="top-nav-icon-issb">
</section><br><br><br>

<section class="doubts-container">
<div class="doubts-item">
    <p>01. This is my first problem we.....</p>
    <div class="doubts-details">
            <div class="doubts-types">Non-verbal</div>
            <div class="solved">Solved</div>
    </div>
</div>
<div class="doubts-item">
    <p>01. This is my first problem we.....</p>
    <div class="doubts-details">
            <div class="doubts-types">Verbal</div>
            <div class="solved">Solved</div>
    </div>
</div>
<div class="doubts-item">
    <p>01. This is my first problem we.....</p>
    <div class="doubts-details">
            <div class="doubts-types">Physchometrics</div>
            <div class="solved">Solved</div>
    </div>
</div>
<div class="doubts-item">
    <p>01. This is my first problem we.....</p>
    <div class="doubts-details">
            <div class="doubts-types">Psychometrics</div>
            <div class="solved">Solved</div>
    </div>
</div>
<div class="doubts-item">
    <p>01. This is my first problem we.....</p>
    <div class="doubts-details">
            <div class="doubts-types">Verbal</div>
            <div class="solved">Solved</div>
    </div>
</div>
<div class="doubts-item">
    <p>01. This is my first problem we.....</p>
    <div class="doubts-details">
            <div class="doubts-types">Verbal</div>
            <div class="solved">Solved</div>
    </div>
</div>
<div class="doubts-item">
    <p>01. This is my first problem we.....</p>
    <div class="doubts-details">
            <div class="doubts-types">Verbal</div>
            <div class="solved">Solved</div>
    </div>
</div>
<div class="doubts-item">
    <p>01. This is my first problem we.....</p>
    <div class="doubts-details">
            <div class="doubts-types">Verbal</div>
            <div class="solved">Solved</div>
    </div>
</div>
<div class="doubts-item">
    <p>01. This is my first problem we.....</p>
    <div class="doubts-details">
            <div class="doubts-types">Verbal</div>
            <div class="solved">Solved</div>
    </div>
</div>
<div class="doubts-item">
    <p>01. This is my first problem we.....</p>
    <div class="doubts-details">
            <div class="doubts-types">Verbal</div>
            <div class="solved">Solved</div>
    </div>
</div>
<div class="doubts-item">
    <p>01. This is my first problem we.....</p>
    <div class="doubts-details">
            <div class="doubts-types">Verbal</div>
            <div class="solved">Solved</div>
    </div>
</div>
<div class="doubts-item">
    <p>01. This is my first problem we.....</p>
    <div class="doubts-details">
            <div class="doubts-types">Verbal</div>
            <div class="solved">Solved</div>
    </div>
</div>
<div class="doubts-item">
    <p>01. This is my first problem we.....</p>
    <div class="doubts-details">
            <div class="doubts-types">Verbal</div>
            <div class="solved">Solved</div>
    </div>
</div>
<div class="doubts-item">
    <p>01. This is my first problem we.....</p>
    <div class="doubts-details">
            <div class="doubts-types">Verbal</div>
            <div class="solved">Solved</div>
    </div>
</div>
</section>



 <%- include('partials/bottom-nav.ejs') %>

<script src="/js/script.js"></script>
<!-- Jquery Cnd minified -->
  <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

<script>


	
	
	function slideToggle() {
    $("#menulist").fadeToggle(100);


}  

$("body,html").not('.tabcontent').click(function(){
	
	console.log("cllikedddd")


})
</script>
