<%- include('partials/header.ejs') %>

    <section class="videofix">
		<iframe
		  src="https://player.vimeo.com/video/735513454?h=41bbcdd9a7?h=938b474e63&title=0&byline=0&portrait=0"
		  style="
		  	clear:both;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 27vh;
			margin: 0;
			padding: 0;
			z-index: 54;
			display: flex;
			align-items: flex-start;
			flex-wrap: nowrap;
			background-color: rgb(255, 255, 255);
		  "
		  id="videolink"
		  frameborder="0"
		  allow="autoplay; fullscreen; picture-in-picture"
		  allowfullscreen
		></iframe>
	  </section>
	  <br><br><br><br><br><br><br><br><br><br>
	 
<section class="content">
    <div class="lecture" onclick="changeVideo('https://player.vimeo.com/video/244926210')">
		<i class="fa-regular fa-circle-play"></i>
		<p class="lecName">পিপিডিটি নিয়ে যত ভয় সব কিছুর সমাধান  পিপিডিটি নিয়ে যত ভয় সব কিছুর সমাধান  </p> 
	</div>
	<div class="lecture" onclick="changeVideo('https://player.vimeo.com/video/28292263')">
		<i class="fa-regular fa-circle-play"></i>
		<p class="lecName">পিপিডিটি নিয়ে যত ভয় সব কিছুর সমাধান</p> 
	</div>
    <div class="lecture" onclick="changeVideo('https://player.vimeo.com/video/244926210')">
		<i class="fa-regular fa-circle-play"></i>
		<p class="lecName">পিপিডিটি নিয়ে যত ভয় সব কিছুর সমাধান  পিপিডিটি নিয়ে যত ভয় সব কিছুর সমাধান  </p> 
	</div>
    <div class="lecture" onclick="changeVideo('https://player.vimeo.com/video/244926210')">
		<i class="fa-regular fa-circle-play"></i>
		<p class="lecName">পিপিডিটি নিয়ে যত ভয় সব কিছুর সমাধান  পিপিডিটি নিয়ে যত ভয় সব কিছুর সমাধান  </p> 
	</div>
	<div class="lecture" onclick="changeVideo('https://player.vimeo.com/video/28292263')">
		<i class="fa-regular fa-circle-play"></i>
		<p class="lecName">পিপিডিটি নিয়ে যত ভয় সব কিছুর সমাধান</p> 
	</div>
	<div class="lecture">
		<i class="fa-regular fa-circle-play"></i>
		<p class="lecName">পিপিডিটি নিয়ে যত ভয় সব কিছুর সমাধান</p> 
	</div>
	<div class="lecture">
		<i class="fa-regular fa-circle-play"></i>
		<p class="lecName">পিপিডিটি নিয়ে যত ভয় সব কিছুর সমাধান</p> 
	</div><div class="lecture">
		<i class="fa-regular fa-circle-play"></i>
		<p class="lecName">পিপিডিটি নিয়ে যত ভয় সব কিছুর সমাধান</p> 
	</div><div class="lecture">
		<i class="fa-regular fa-circle-play"></i>
		<p class="lecName">পিপিডিটি নিয়ে যত ভয় সব কিছুর সমাধান</p> 
	</div><div class="lecture">
		<i class="fa-regular fa-circle-play"></i>
		<p class="lecName">পিপিডিটি নিয়ে যত ভয় সব কিছুর সমাধান</p> 
	</div><div class="lecture">
		<i class="fa-regular fa-circle-play"></i>
		<p class="lecName">পিপিডিটি নিয়ে যত ভয় সব কিছুর সমাধান</p> 
	</div><div class="lecture">
		<i class="fa-regular fa-circle-play"></i>
		<p class="lecName">পিপিডিটি নিয়ে যত ভয় সব কিছুর সমাধান</p> 
	</div><div class="lecture">
		<i class="fa-regular fa-circle-play"></i>
		<p class="lecName">পিপিডিটি নিয়ে যত ভয় সব কিছুর সমাধান</p> 
	</div><div class="lecture">
		<i class="fa-regular fa-circle-play"></i>
		<p class="lecName">পিপিডিটি নিয়ে যত ভয় সব কিছুর সমাধান</p> 
	</div><div class="lecture">
		<i class="fa-regular fa-circle-play"></i>
		<p class="lecName">পিপিডিটি নিয়ে যত ভয় সব কিছুর সমাধান</p> 
	</div>
	<div class="lecture" onclick="changeVideo('https://player.vimeo.com/video/138557845?h=a9357ef612')">
		<i class="fa-regular fa-circle-play"></i>
		<p class="lecName">পিপিডিটি নিয়ে যত ভয় সব কিছুর সমাধান</p>
	</div>   <div class="lecture">
		<i class="fa-regular fa-circle-play"></i>
		<p class="lecName">পিপিডিটি নিয়ে যত ভয় সব কিছুর সমাধান</p> 
	</div>   <div class="lecture">
		<i class="fa-regular fa-circle-play"></i>
		<p class="lecName">পিপিডিটি নিয়ে যত ভয় সব কিছুর সমাধান</p> 
	</div>

</section>
<div id="floatingMenu">
	<ul><li><a href=""><i class="fa-regular fa-circle-play"></i>First Option jodi</a></li><li><a href=""><i class="fa-regular fa-circle-play"></i>Second Option</a></li>
	<li><a href=""><i class="fa-regular fa-circle-play"></i>Third Option</a></li></ul>
</div>

    <div id="menuicon">
        <i class="fa-solid fa-bars-staggered"></i>
    </div>




 <!-- bottom nagivatoin section  -->
 <%- include('partials/bottom-nav.ejs') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
	$("#menuicon").click(function(){
	  $("#floatingMenu").fadeToggle(100);
	  
	});
   
  });</script>
  <script>
	  
	  function changeVideo(a) {
	  console.log(a);
	  let imgDiv = document.getElementById("videolink");
	  imgDiv.src = a; // replace the image on button click.
	  }
	  </script>
	  
<script src="/js/script.js"></script>
